---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ cert_manager_cloudflare_domain | replace('.', '-') }}-staging
  namespace: cert-manager
spec:
  secretName: {{ cert_manager_cloudflare_domain | replace('.', '-') }}-staging-tls
  secretTemplate:
    annotations:
      reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
      reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: "default,traefik"
      reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
    labels:
      environment: "staging"
      issuer: "letsencrypt"
  issuerRef:
    name: letsencrypt-staging
    kind: ClusterIssuer
  commonName: "*.{{ cert_manager_cloudflare_domain }}"
  dnsNames:
    - "{{ cert_manager_cloudflare_domain }}"
    - "*.{{ cert_manager_cloudflare_domain }}"
