apiVersion: v1
kind: Secret
metadata:
  name: grafana-admin-credentials
  namespace: monitoring
type: Opaque
data:
  admin-user: {{ grafana_username | b64encode }}
  admin-password: {{ grafana_password | b64encode }}
